- content_for :header do
  Viewing Project

%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Url:
  = link_to @project.url, @project.url, target: :blank
%p
  %b Highlighted:
  = @project.highlighted
%p
  %b Image:
  %img{:src => @project.image, :width => '90px'}

= link_to 'Edit', edit_backoffice_project_path(@project)
\|
= link_to 'Back', backoffice_projects_path
