%h1 Listing socials

%table
  %thead
    %tr
      %th Name
      %th Link
      %th Description
      %th Icon
      %th
      %th
      %th

  %tbody
    - @socials.each do |social|
      %tr
        %td= social.name
        %td= social.link
        %td= social.description
        %td= social.icon
        %td= link_to 'Show', social
        %td= link_to 'Edit', edit_social_path(social)
        %td= link_to 'Destroy', social, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Social', new_social_path
