- content_for :header do
  Listing socials

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Name
      %th Link
      %th Description
      %th Icon
      %th
      %th
      %th

  %tbody
    - @socials.each do |social|
      %tr
        %td= social.id
        %td= social.name
        %td= social.link
        %td= social.description
        %td= fa_icon(social.icon)
        %td= link_to 'Show', [:backoffice, social]
        %td= link_to 'Edit', edit_backoffice_social_path(social)
        %td= link_to 'Destroy', [:backoffice, social], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Social', new_backoffice_social_path, class: 'btn btn-primary'
