%p#notice= notice

%p
  %b Name:
  = @social.name
%p
  %b Link:
  = @social.link
%p
  %b Description:
  = @social.description
%p
  %b Icon:
  = @social.icon

= link_to 'Edit', edit_social_path(@social)
\|
= link_to 'Back', socials_path
