- content_for :header do
  Listing settings

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Key
      %th Value
      %th
      %th

  %tbody
    - @settings.each do |setting|
      %tr
        %td= setting.id
        %td= setting.key
        %td= setting.value
        %td= link_to 'Edit', edit_backoffice_setting_path(setting)
        %td= link_to 'Destroy', [:backoffice, setting], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Setting', new_backoffice_setting_path, class: 'btn btn-primary'
