!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "#{Setting.find_by_key(:title).value} - backoffice"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'backoffice', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/backoffice_shared/navbar'
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          = render 'layouts/backoffice_shared/sidebar'
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          - unless content_for(:header).blank?
            %h1.page-header= content_for(:header)
          = yield
